/* Fonts and Others */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Copa America Heading  */

.top-banner{
    width: 1440px;
    height: 677px;
    background-color: #2D25A0;
}
.copa-america21{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ca-heading h1{
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin-left: 156PX;
    margin-top: 207px;
    margin-right: 102px;
    width: 485px;
    height: 230px;
}
.ca-heading a{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    margin-left: 156px;
    margin-top: 27px;
    background-color: #E02C6D;
    padding: 10px 24px;
    width: 168px;
    text-decoration: none;
    
}
.fa-arrow-right{
    margin: 0px 8px;
    
}
.ca-image img{
    width: 556px;
    height: 456px;
    margin-right: 141px;
    margin-top: 135px;
}

/* hovar transform and trasition */

.ca-heading a:hover{
      border-radius: 50px;
    padding: 30px;
    background-color: #FFFFFF;
    transition: 1s ease-in-out;
}
.ca-heading a:hover .fa-arrow-right {
   color:#E02C6D ;
    transform: translate(-50px) scale(5);
    transition: transform 1s ease;
}

/* Player Add Section Style  */

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    margin-top: 70px;
}
.players{
    margin-bottom: 27px;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    grid-column-gap: 30px;
}
.player .player-image img{
    width: 330px;
    height: 256px;
}
.player-detail{
    width: 330px;
    height: 154px;
}
.player-name{
    font-size: 28px; 
    margin-top: 16px;
    color: #18191F;
    margin-bottom: 0px;
}
.player-info{
    color: #6C6C6C;
    font-size: 16px;
    margin-top: 10px;
}
.player{
width: 330px;
height: 474px;
padding: 15px;
background-color: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/* Footer style  */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 63px;
}
.logo img{
    width: 484px;
    height: 110px;
    margin: 20px 0px;
}
.social-icons i{
    margin-right:14px;
    margin-top: 0px;
    text-align: center;
    line-height: 1.8; 
    color: #969BAB;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #969bab4f;
    font-size: 18px;
    font-weight: 700;
}
.copyright p{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 400;
}

/* Bonus section-1 styles */

.bonus-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;
    margin-bottom: 20px;
}
.stadiums{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    justify-content: center;
    align-items: center;
}

.bonus-1>h1{
    text-align: center;
    margin-top: 40px;
    font-size: 2em;
    color: #2D25A0;
}
.stadium-album{
    display: flex;
    flex-wrap: wrap;
}
.stadium-frame{
    height: 250px;
    width: 330px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.stadium img{
    width: 100%;
    border-radius: 10px;
}
.stadium-details{
    display: none;
    position: absolute;
    width: 300px;
    top: 0;
}
.stadium-details h3{
    text-align: center;
    font-size: 1.5em;
    color:#E02C6D;
}
.stadium-details p{
    text-align: center;
}
.stadium-frame:hover .stadium-details{
    display: block;
    color: orange;
}
.stadium-frame:hover .stadium{
    transform: translate(10px) scale(1.3);
    transition: transform 2s ease-in-out;
}

/* Bonus Section-2 styles */

.highlights{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}
.hlts-title h1{
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;;
    margin-left: 156PX;
    margin-top: 207px;
    margin-right: 60px;
    width: 469px;
    height: 120px;
}
.hlts-title a{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    margin-left: 156px;
    margin-top: 27px;
    background-color: #E02C6D;
    padding: 10px 24px;
    width: 168px;
    text-decoration: none;
    
}
.fa-arrow-right{
    margin: 0px 8px;
    
}
.hlts-image img{
    width: 567px;
    height: 427px;
    margin-right: 156px;
    margin-top: 100px;
}

/* hovar transform and trasition */

.hlts-title a:hover{
    border-radius: 50px;
    padding: 30px;
    color: #0A0826;
    background-color:#0A0826;;
    transition: 1s ease-in-out;
}
.hlts-title a:hover .fa-arrow-right {
    color: white ;
    transform: translate(-50px) scale(5);
    transition: transform 1s ease;
}